:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* line-height: 1.3; */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: gray;
}

h1 {
  font-size: 300%;
  border-style: solid;
  border: 10px solid gray;
  border-radius: 1px;
  padding: 0px;
  text-align: center;
  /* width: 300px; */
  /* margin-left: 100px; */
}

h2 {
  font-size: 180%;
  margin: 100px 100px 100px 100px;
  font-size: 300%;
  width: 300px;
  border-right: solid;
}

#title {
  align-items: flex-end;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  list-style: none;
}

nav a {
  color: gray;
  font-weight: bold;
  text-decoration: none;
  font-size: x-large;
}

nav li :hover {
  border-bottom: 2px solid black;
  font-size: 30px;
}

#backimg {
  background-image: url("Background2.jpg");
  /* width: 100%; */
  height: 300px;
  z-index: -1;
  background-size: cover;
  text-align: right;
  color: white;
}
/* #backimg p {
  margin-top: 200px;
  margin-right: 20px;
  margin-left: 2100px;
  font-size: 20px;
} */

main {
  display: flex;
  flex-direction: column;
}

.about {
  display: flex;
  justify-content: center;
  align-content: center;
  /* text-align: center; */
}

.about img {
  border-radius: 150px;
  height: 300px;
}
.about p {
  font-size: large;
  /* margin: 40px;
  margin-right: 100px; */
  width: 60%;
  font-size: x-large;
}

.myWork {
  display: flex;
}

.references {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#maincard img {
  height: 200px;
  position: relative;
}

#maincard {
  width: 106%;
}

#maincard ::after {
  content: "";
  position: absolute;
  display: block;
  background: inherit;
  opacity: 0.2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(6) translateX(0) translateY(0);
  z-index: -1;
}

.text {
  /* position: relative; */
  justify-content: center;
  align-content: center;
  margin-top: 300px;
  background-color: rgb(5, 200, 248);
  /* margin-right: 80%; */
  position: absolute;
  z-index: 1;
}

.text1 {
  top: 40px;
  left: 4px;
  justify-content: center;
  align-content: center;
  margin-top: 200px;
  background-color: rgb(49, 202, 240);
  position: absolute;
  width: 40%;
  opacity: 1;
  z-index: 1;
}

.row {
  display: flex;
  flex-direction: row;
  max-width: 150%;
  align-content: center;
}
.card {
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  justify-content: center;
  align-content: center;
  border: 5px solid rgb(0, 129, 146);
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  width: 90%;
  height: 300px;
  position: relative;
  margin: 0px;
  overflow: hidden;
  background: rgb(248, 248, 248);
  margin: 10px;
}

.card ::after {
  content: "";
  position: absolute;
  display: block;
  background: inherit;
  opacity: 0.3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(6) translateX(0) translateY(0);
  z-index: -2;
  /* transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1); */
}

.card :hover {
  opacity: 1;
  /* background: rgb(0, 153, 255); */
  transform: translateY(-20%);
  transform: opacity 500ms;
}
.card img {
  max-width: 500px;
  /* position: relative; */
}

.contact {
  display: flex;
}

.row1 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
}

.row1 ul {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
  min-width: 900px;
  list-style: none;
  margin-top: 120px;
}

.row1 li :hover {
  border-bottom: 2px solid black;
  font-size: 30px;
}

.row1 a {
  color: gray;
  font-weight: bold;
  text-decoration: none;
  font-size: x-large;
}

@media (max-width: 1500px) {
  /* .references {
    max-width: fit-content;
  } */
  #maincard {
    max-width: fit-content;
  }
  .row {
    display: flex;
    flex-direction: column;
  }
  /* .contact {
    display: flex;
    flex-direction: column;
  }
  .column2 ul {
    display: flex;
    flex-direction: column;
  } */
}

@media (max-width: 1200px) {
  .row1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-content: center;
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
  .row1 ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 300px;
    min-width: auto;
  }
}

@media (max-width: 800px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
  body {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
  }
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .about p {
    justify-content: center;
    width: auto;
  }
  .about .column {
    text-align: center;
    justify-content: center;
    align-content: center;
  }

  .myWork {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .references {
    max-width: fit-content;
  }
  .card {
    width: 500px;
  }
} ;
